.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: Arial;
    color: #f7f2c2;
    font-size: 17px;
    background: #81a785;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

    .btn:hover {
        background: #3c523f;
        text-decoration: none;
        color: #f7f2c2;
    }
.bodyimagecreate {
    margin: 0px;
    padding: 0px;
    background: url(../Img/11.jpg) no-repeat;
}
.bodyimageedit {
    margin: 0px;
    padding: 0px;
    background: url(../Img/13.jpg) no-repeat;
}
.inputbackground {
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    width: 580px;
    height: 850px;
    background-color: rgba(255,255,255,.3);
}
.contentmargin {
    padding-top:15px;
    margin-left:22px;
}
.labelpadding {
    padding-top: 8px;
}
.btnmargin {
    margin-left:400px
}
.btnflex{
    display:flex;
    justify-content:space-between;
}

.textareaevent {
    resize: none;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.textareaprocess {
    height: 50px;
    width: 500px;
    resize: none;
}
.picfilename{
    font-size:10px;
    visibility:hidden;
}